<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tamim's Project">
    <meta name="author" content="Mehdi.Sadat.Razavi">

    <title>Profile</title>

    <link href="../resources/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../resources/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Edit Profile</h1>
        <div class="col-md-6 col-md-offset-3">
            <form action="#" th:action="@{/profile}" th:object="${userProfileEntity}" method="post">
                <h2>Create your Profile</h2>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{firstName}" placeholder="Enter FirstName"
                               class="form-control"/>
                    </div>
                </div>
                <br/>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{lastName}" placeholder="Enter LastName"
                               class="form-control"/>
                    </div>
                </div>
                <br/>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                               class="validation-message"></label>
                        <input type="email" th:field="*{email}" placeholder="Email"
                               class="form-control"/>
                    </div>
                </div>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <h4 class="text-center"><a href="/logout" th:href="@{/logout}">Logout</a></h4>
</div>
<!-- /container -->
<script src="../resources/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../resources/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>