<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tamim's Project">
    <meta name="author" content="Mehdi.Sadat.Razavi">

    <title>Welcome</title>

    <link href="../resources/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../resources/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="text-center">Welcome</h1>

    <h4 class="text-center"><a href="/login" th:href="@{/login}">Login</a></h4>
    <h4 class="text-center"><a href="/registration" th:href="@{/registration}">Create an account</a></h4>
    <h4 class="text-center"><a href="/profile" th:href="@{/profile}">Edit Profile</a></h4>
    <hr>
    <h3 class="text-center">API TEST</h3>
    <hr>
    <h4 class="text-center"><a href="/api/users" th:href="@{/api/users}">/api/users</a></h4>
    <h4 class="text-center"><a href="/api/profile" th:href="@{/api/profile}">/api/profile</a></h4>
    <br/>
    <h4 class="text-center"><a href="/logout" th:href="@{/logout}">Logout</a></h4>
</div>
<!-- /container -->
<script src="../resources/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../resources/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>